.courses-header, .tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(103, 146, 183);
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.semester-input, .new-course-button, .course-select {
  display: flex;
  align-items: center;
}

.semester-input label, .course-select label {
  margin-right: 10px;
  font-size: 14px;
}

.semester-input input, .course-select select {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  color: black;  /* Ensures the text in the input and select is black */
  background-color: white; /* Ensures the background is white */
}

.new-course-button button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new-course-button button:hover {
  background-color: #218838;
}

.back-button {
  margin-left: auto;
  margin-right: 20px;
}

.back-button button {
  padding: 10px 20px;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button button:hover {
  background-color: #138496;
}

.back-button a {
  color: #fff;
  text-decoration: none;
}

.back-button a:hover {
  text-decoration: underline;
}

.task-list {
  margin: 20px;
}

.task-list h2 {
  font-size: 24px;
  color: #333;
}

.lessons-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(103, 146, 183);
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.year-input, .new-lesson-button, .course-select {
  display: flex;
  align-items: center;
}

.year-input label, .course-select label {
  margin-right: 10px;
  font-size: 14px;
}

.year-input input, .course-select select {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  color: black;  /* Ensures the text in the input and select is black */
  background-color: white; /* Ensures the background is white */
}

.new-lesson-button button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new-lesson-button button:hover {
  background-color: #218838;
}

@media (max-width: 1024px) and (max-height: 1366px) {
  .semester-input label, .course-select label {
    margin-right: 30px;
    font-size: 30px;
  }
}