/* Style for the main container of the user details */
.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Nunito", sans-serif;
}

.user-details {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
}

.user-photo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.update-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.user-details p {
  margin: 10px 0;
  color: #333;
}

.user-details .update-button-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto;
  margin-right: auto;
}

.user-details .update-button-container button:hover {
  background-color: #0056b3;
}

/* Style for the modal background */
.modal-overlay-user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Style for the modal content */
.modal-content-user {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.modal-content-user h2 {
  margin-bottom: 20px;
}

.modal-content-user label {
  display: block;
  margin-bottom: 5px;
}

.modal-content-user input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:first-child {
  background-color: #4caf50;
  color: #fff;
}

.buttons button:first-child:hover {
  background-color: #388e3c;
}

.buttons button:last-child {
  background-color: #f44336;
  color: #fff;
}

.buttons button:last-child:hover {
  background-color: #d32f2f;
}