body {
    background-color: rgb(154, 176, 195);
}

.register-input {
    width: 100%;
    padding: 24px 40px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
  
.register-form-container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 40px;
}

.register-container {
    width: 100%;
    min-height: 1200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 233, 237);
}

.register-form-title {
    color: rgb(60, 100, 136);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    margin-top: 40px;
    background-color: none;
}

.register-form-title h1 {
    color: rgb(60, 100, 136);
    text-align: center;
    font-size: 2.5rem;
}

.register-button {
    width: 400px;
    background-color: rgb(60, 100, 136);
    color: white;
    padding: 28px 40px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
}
  
.register-button:hover {
    background-color: rgb(46, 83, 116);
}
  
.register-cols-container {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-label-address {
    margin-bottom: 40px;
    background-color: rgb(159, 186, 209);
}

.register-label-company {
    margin-bottom: 40px;
    background-color: rgb(159, 186, 209);
}

.register-geo-label {
    margin-bottom: 40px;
    background-color: rgb(209, 225, 239);
}

@media (max-width: 1024px) and (max-height: 1366px) {
    .register-input {
        padding: 24px 40px;
        margin: 16px 0;
        font-size: 1.2rem;
    }

    .register-form-container {
        padding: 40px;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .register-container {
        min-height: 1200px;
    }

    .register-form-title {
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .register-form-title h1 {
        font-size: 3rem;
    }

    .register-button {
        width: 200px;
        padding: 28px 40px;
        margin-bottom: 60px;
        margin-top: 40px;
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .register-cols-container {
        gap: 100px;
    }

    .register-label-address,
    .register-label-company,
    .register-geo-label {
        margin-bottom: 40px;
        font-size: 1.2rem;
    }
}